.container {
    background-color: #FBF7E3;
    display: flex;
    flex-direction: column-reverse;
    max-width: 500px;
    margin-inline: auto;
    border-radius: 20px;
}

.container h1, p {
    padding-inline: 0.7em;
}